    <!--Side Navigation Bar-->
<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="content/images/user.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{name}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a><br />
                <a href="#logout"><i class="fa fa-ban text-warning"></i> Sign out</a><br>
            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview menu-open">
                <a href="#dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li>
                <a href="#notifications">
                    <i class="fa fa-comments-o"></i>
                    <span>Notifications</span>
                    <span class="pull-right-container">
                        <span class="label label-warning pull-right">330</span>
                    </span>
                </a>
            </li>
            <li>
                <a href="#registerAdmin">
                    <i class="fa fa-user-plus"></i>
                    <span>Register Admin</span>
                </a>
            </li>
            <li>
                <a href="#users">
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="#investments">
                    <i class="fa fa-line-chart"></i>
                    <span>Investments</span>
                </a>
            </li>
            <li>
                <a href="#investments_withdrawals">
                    <i class="fa fa-line-chart"></i>
                    <span>Withdrawals</span>
                </a>
            </li>
            <li>
                <a href="#announcements">
                    <i class="fa fa-feed"></i>
                    <span>Announcements</span>
                </a>
            </li>
            <li>
                <a href="#investments_history">
                    <i class="fa fa-history"></i>
                    <span>History</span>
                </a>
            </li>
        </ul>

    </section>
</aside>

<!--main content page here-->
<div class="content-wrapper" style="min-height: 915.6px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-dashboard"></i>
            Dashboard |
            <small>Happy Friday v1.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Customers</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
       <div class="row">

       </div>
        <div class="row">
            <!--The index content here.-->
            <div class="box box-info">
                <div class="box-header with-border bg-aqua">
                    <h3 class="box-title ">Customers - <i class="fa fa-users pull-right"></i></h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Cell Number</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in users | filter:{role:'client'} | filter:{Status:'active'}">
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.email}}</td>
                                    <td>{{customer.cell}}</td>
                                    <td><span class="label label-success">{{customer.Status}}</span></td>
                                    <td><button class="btn btn-success" ng-click="getCustomer(customer)">Edit</button> | <p class="btn btn-danger" ng-click="disableCustomer(customer)">Disable</p> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
                <!-- /.box-footer -->
            </div>
         </div>

    </section>
    <!-- /.content -->
</div>
